//
// Main
//

// Desktop mode
@include media-breakpoint-up(lg) {
  .app-main {
    :not([data-kt-app-footer-fixed="true"]) & {
      .app-content {
        padding-bottom: 0 !important;
      }
    }

    [data-kt-app-footer-fixed="true"] & {
      .app-content {
        padding-bottom: $app-content-padding-y !important;
      }
    }
  }
}

.task {
  &:hover {
    cursor: pointer;
    transition: 0.3s;
    border-radius: 15px;
    background-color: rgb(235, 235, 235);
  }
}

.container {
  &:hover {
		opacity: 0.7;
    transition: 0.3s;
  }
}
